@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #212529;
  --background: #f8f9fa;
}

.dark {
  --foreground: #e9ecef;
  --background: #0d0d0f;
}

body {
  color: var(--foreground);
  background: var(--background);
}
